<!-- font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ '/assets/js/nav.js' | relative_url }}" ></script>
<nav>

  {% for item in site.data.navigation %}
  <div >
    <a href="{{ item.link }}" 
      {% if page.url == item.link %}
        class="current"
      {% endif %} >
      {{ item.name }}
    </a>
  </div>
  {% endfor %}

  <div class="icon">
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

</nav>
